html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logo {
  grid-column: 1;
  grid-row: 1/-1;
  width: 14rem;
  z-index: 1;
}

.pano {
  grid-column: 1/-1;
  grid-row:1/-1;
}

nav ul {
  list-style-type: none;
  font-size: 2rem;
  color: #fff;
  display: flex;
  grid-column: 1/-1;
  grid-row: 1;
  z-index: 1;
}
