html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
  background-color: #f2f1ed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "banner banner"
    "main main";
  column-gap: 1rem;
  padding: 1rem;
}

.pano {
  grid-area: banner;
}

main {
  grid-area: main;
  display: contents;
}

.logo {
  grid-column: 1;
  grid-row: 1;
  align-self: end;
  width: 14rem;
  z-index: 1;
}

nav {
  grid-column: 2;
  grid-row: 1;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  font-family: "Patua One", sans-serif;
  font-size: 2rem;
  display: flex;
  justify-content: space-around;
  max-width: 28rem;
  margin-top: .5em;
}

a {
  color: #fff;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
}

h2 {
  font-family: "Patua One", sans-serif;
  color: #30658d;
  margin-bottom: auto;
}

figure {
  margin-left: auto;
  margin-right: auto;
}

p {
  margin-top: 0;
}
