html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
}

header: n-th child(2) {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

header: n-th child(1) {
  grid-column: 1;
  grid-row: 1/-1;
  width: 14rem;
  z-index: 1;
}

header: n-th child(3) {
  list-style-type: none;
  font-size: 2rem;
  color: #fff;
  display: flex;
  grid-column: 1/-1;
  grid-row: 1;
  z-index: 1;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

main: n-th child(1){
  grid-column: 1;
  grid-row: 2;
}

main: n-th child(2){
  grid-column: 2;
  grid-row: 2;
}

h2 {
  color: #30658d;
}

figcaption {
  font-size: 2rem;
}
